@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background-color: hsl(235, 18%, 26%);
    padding: 50px 200px;
}

.container{
    border-radius: 20px;
    background-color: white;
    padding: 30px 30px 30px 50px;
    display: flex;
    gap: 18px;
    align-content: space-between;
}

.conten{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.conten > h1{
    font-size: 50px;
    font-weight: bold;
}

.conten > h2{
    font-size: 18px;
    font-weight: bold;
}

.warpConten{
    display: flex;
    gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form>input{
    height: 50px;
    padding: 5px 20px;
    border-radius: 5px;
    box-sizing: border-box;
}

form>button{
    font-size: 16px;
    color: white;
    height: 50px;
    border-radius: 5px;
    background-color: hsl(235, 18%, 26%);
    box-sizing: border-box;
}

.warp1{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.warp>img{
    object-fit: cover;
}